 body 
 { 
     text-align: center; 
     padding: 50px; 
     background: white; 
}

img 
{ 
    width: 50%; 
    max-width: 200px; 
    margin-bottom: 20px; 
}

button 
{ 
    padding: 10px 20px; 
    font-size: 18px; 
    cursor: pointer; 
    background: gold; 
    border: none; 
    border-radius: 10px; 
}

canvas 
{
    display: block; 
    background: white; 
    max-width: 100%; 
    height: auto; 
}

